spin_manifest_version = 2

[application]
authors = ["Andrew Steurer <andrew.steurer@fermyon.com>"]
description = ""
name = "typescript-azure"
version = "0.1.0"

[variables]
az_account_name = { required = true, secret = true }
az_shared_key = { required = true, secret = true }

[[trigger.http]]
route = "/..."
component = "typescript-azure"

[component.typescript-azure]
source = "target/typescript.wasm"
exclude_files = ["**/node_modules"]
allowed_outbound_hosts = ["https://{{ az_account_name }}.blob.core.windows.net", "http://localhost:8080"]

[component.typescript-azure.build]
command = "npm run build"
watch = ["src/**/*.ts", "package.json"]

[component.typescript-azure.variables]
az_account_name = "{{ az_account_name }}"
az_shared_key = "{{ az_shared_key }}"
az_host = "https://{{ az_account_name }}.blob.core.windows.net"
# az_host = "http://localhost:8080"